@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
  --main-font: 'Merriweather', serif;
  --logo-font: 'Carattere', serif;
  --main: #057005;
  --main-light: #a3f5a3;
  --support: #a79115;
  --sepia: #704214;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #989898;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: var(--main-font);
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

.section-1 {
  width: 100%;
  height: 65vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.6)),
    url('./images/bg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}

.navbar-wrapper {
  width: 100%;
  height: 8rem;
  background-color: blue;
  border-bottom: 0.1rem solid var(--grey-light);
  display: flex;
  justify-content: center;
}

.navbar {
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}